

<ion-header>
  <ion-toolbar>
    <ion-title>Product Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="item">
  <div class="bar bar-header bar-light">
    <h1>
      {{item.name}}
    </h1>
  </div>

  <ion-item>
    <ion-label>
      PLU: {{item.plu_number}} 
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Price per {{item.unit}}: ${{item.price}}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Inventory: {{item.current_inventory}} {{item.unit}}s <ion-button (click)="addInventory(item.item_code)">Manage</ion-button>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Item Code: {{item_code}}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-button (click)="toMovement(item_code)">Movement</ion-button>
  </ion-item>
  

  <ion-item>
    <ion-button href="/forecast">Forecast</ion-button>
  </ion-item>

</div>
  <ion-button color="primary" href="/home">Go back</ion-button>


  
</ion-content>



