<ion-header>
  <ion-toolbar>
      <ion-button (click)="goBack()">
        <ion-icon fill="clear" slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    <ion-title>Product Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="current_tab">
    <div *ngSwitchCase="'details'">
      <div *ngIf="item">
        <div class="bar bar-header bar-light">
          <h1>
            {{item.name}}
          </h1>
        </div>
    
        <ion-item>
          <ion-label>
            PLU: {{item.plu_number}} 
          </ion-label>
        </ion-item>
    
        <ion-item>
          <ion-label>
            Price per {{item.unit}}: ${{item.price}}
          </ion-label>
        </ion-item>
    
        <ion-item>
          <ion-label>
            Inventory: {{item.current_inventory}} {{item.unit}}s <ion-button (click)="addInventory(item.item_code)">Change</ion-button>
          </ion-label>
        </ion-item>
    
        <ion-item>
          <ion-label>
            Item Code: {{item_code}}
          </ion-label>
        </ion-item>
      </div>
    </div>
    <div *ngSwitchCase="'movement'">
      <div *ngIf="item && movement">
        <div class="bar bar-header bar-light">
          <h1 class="title">Item Code: {{item.item_code}} Movement By {{item.unit}}</h1>
        </div>
        <ion-list>
          <ion-item *ngFor="let item of movement; index as i">
            <ion-label>
              {{ item.date.format('dddd') }} 
              <span *ngIf="i == 0">(today, so far)</span>
              <span *ngIf="i == 1">(yesterday, end of day)</span>
              <span *ngIf="i == 7">(last week, end of day)</span>
              : {{ item.inventory_amount }}
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div *ngSwitchCase="'forecast'">
      forecast page
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button checked ="true" value="details">
        <ion-label>Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="movement">
        <ion-label>Movement</ion-label>
      </ion-segment-button>
      <ion-segment-button value="forecast">
        <ion-label>Forecast</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>



