

<ion-header>
  <ion-toolbar>
    <ion-title>Product Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="bar bar-header bar-light">
    <h1>
      Green Peppers
    </h1>
  </div>

  <ion-item>
    <ion-label>
      PLU: 4065
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Inventory: 4543
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Item Code: 234543543
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label >
      Movement Yesterday: 423
    </ion-label>
    <ion-button href="/movement">Weekly</ion-button>
  </ion-item>
  

  <ion-item>
    <ion-label>
      Forecast Tomorrow: 1234
    </ion-label>
    <ion-button href="/forecast">Weekly</ion-button>
  </ion-item>

  <ion-button color="primary" href="/home">Go back</ion-button>

  
</ion-content>


