<div class="container">
  <br>
  <br>

  <div style="float: right">
    <button class="btn btn-primary" (click)="logout()" type="button">Logout</button>
  </div>
  <br><br>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">MIMS - User Management</span>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" [(ngModel)]="search_term" name="search_term" placeholder="Search users" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="searchUsers()">Search</button>
    </form>
  </nav>
  <br>
  <button class="btn btn-primary" (click)="open(createModal)" type="button">Create User</button>
  <br><br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Type</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.username }}</td>
        <td>
          <span *ngIf="user.type == 1">Manager</span>
          <span *ngIf="user.type == 2">Employee</span>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" (click)="openEditModal(editModal, user.username)">Edit</button>
          &nbsp;
          <button type="button" class="btn btn-primary btn-sm" (click)="deleteUser(user.id)" >Delete</button>
          <!-- Create a "delete user modal" in order to make sure user should be deleted and to
          hold on to the user's data (much like the "edit user modal"). -->
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-buttons">
    <button class="btn btn-outline-primary" (click)="previousPage()" type="button" [disabled]="previousDisabled()">Previous</button>
    <span>Page {{ data.page }}</span>
    <button class="btn btn-outline-primary" (click)="nextPage()" type="button" [disabled]="nextDisabled()">Next</button>
  </div>
</div>

<ng-template #editModal let-modal>
  <app-edit-user-modal [modal]="modal" [username-input]='selectedUser'></app-edit-user-modal>
</ng-template>

<ng-template #createModal let-modal>
  <app-create-user-modal [modal]="modal"></app-create-user-modal>
</ng-template>