__pycache__/
*.py[cod]



api/config.ini



app/*~
app/*.sw[mnpcod]
app/*.log
app/*.tmp
app/*.tmp.*
app/log.txt
app/*.sublime-project
app/*.sublime-workspace
app/.vscode/
app/npm-debug.log*

app/.idea/
app/.ionic/
app/.sourcemaps/
app/.sass-cache/
app/.tmp/
app/.versions/
app/coverage/
app/www/
app/node_modules/
app/tmp/
app/temp/
app/platforms/
app/plugins/
app/plugins/android.json
app/plugins/ios.json
app/$RECYCLE.BIN/

app/.DS_Store
app/Thumbs.db
app/UserInterfaceState.xcuserstate