<ion-header>
  <ion-toolbar>
      <ion-button (click)="goBack()">
        <ion-icon fill="clear" slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    <ion-title>Product Movement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="item && movement">
  <div class="bar bar-header bar-light">
    <h1 class="title">Item Code: {{item.item_code}} Movement By {{item.unit}}</h1>
  </div>
  
  <ion-list>
    <ion-item *ngFor="let item of movement; index as i">
      <ion-label>
        {{ item.date.format('dddd') }} 
        <span *ngIf="i == 0">(today, so far)</span>
        <span *ngIf="i == 1">(yesterday, end of day)</span>
        <span *ngIf="i == 7">(last week, end of day)</span>
        : {{ item.inventory_amount }}
      </ion-label>
    </ion-item>
  </ion-list>


</div>

