<ion-header>
  <ion-toolbar>
    <ion-title>Product Movement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="item && movement">
  <div class="bar bar-header bar-light">
    <h1 class="title">Item Code: {{item.item_code}} Movement By {{item.unit}}</h1>
  </div>
  
  <ion-list>
    <ion-item *ngFor="let string of movementKeys; index as i">
      <ion-label>
        {{movementKeys[i]}}: {{movementValues[i]}}
      </ion-label>
    </ion-item>
  </ion-list>



</div>

  <ion-button href="/product-info">Go Back</ion-button>


</ion-content>