<ion-header>
  <ion-toolbar>
    <ion-title>Product Movement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="bar bar-header bar-light">
    <h1 class="title">Item Code:432432 Movement By LB</h1>
  </div>
  <ion-item>
    <ion-label>
      Sunday: 543
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Monday: 432
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Tuesday: 765
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Wednesday: 76578
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Thursday: 2445
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Friday: 4321
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Saturday: 543
    </ion-label>
  </ion-item>

  <ion-button href="/product-info">Go Back</ion-button>





</ion-content>