<ion-header>
  <ion-toolbar>
    <ion-title>loginPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div style="margin-top:200px" >
    <ion-item>
        <ion-label>Username: </ion-label>
        <ion-input placeholder="Username" size="large"></ion-input>
    </ion-item>

      <ion-item>
        <ion-label>Password: </ion-label>
        <ion-input type="password" placeholder="Enter Password"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" href="/home">Login</ion-button>

    </div>
</ion-content>
