div.loading-container {
    text-align: center;
    padding-top: 100px;
}

div.empty-search, div.no-results {
    color: gray;
    text-align: center;
    margin-top: 30px;
}

ion-label {
    h2 {
        white-space: pre-wrap;
    }
}

ion-list {
    margin-bottom: 0;
}

.barcode {
    ion-icon {
        font-size: 27px;
    }
}

.product-detail-image {
    width: 200px;
    margin: 16px auto 32px auto;
    display: block;
}

.float-right {
    float: right;
}

.product-name {
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 16px;
}

.helper-text {
    color: gray;
    font-style: italic;
    margin: 16px;
}

.small-center {
    width: 200px;
    margin: 0 auto;
}

.chart-row {
    padding: 16px;
}