<ion-header>
  <ion-toolbar>
    <ion-title>
      Product Search
    </ion-title>
    <ion-button (click)="logout()" slot="end" color="danger">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="bar bar-header bar-light">
    <h1 class="title">Search by PLU or Item:</h1>
  </div>
  <ion-searchbar animated [(ngModel)]="search_term"></ion-searchbar>
  <ion-button expand="block" color="primary" (click)="search()">Search</ion-button>

  <ion-list>
    <ion-item *ngFor="let item of items" (click)="navigate(item.item_code)" detail>
      <ion-avatar slot="start">
        <img [src]="item.image_url">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>Item code: {{ item.item_code }}</p>
        <p>PLU: {{ item.plu }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>