<head>
  <!-- Link for glyphicons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Help Information   <i class="fas fa-info-circle"></i></h4> <!--heading-->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <!--sample questions-->
        <div class="col-sm-12"><b>Frequently Asked Questions</b></div>
        <div class="col-sm-12"><b>Why can't an employee log in?</b></div>
        <div class="col-sm-12">To log into the Admin website, you should be a Manager.</div>
        <div class="col-sm-12"><b>How can I change my password?</b></div>
        <div class="col-sm-12">You can change your password using the edit button next to your user information.</div>
        <div class="col-sm-12"><b>How can I find a user?</b></div>
        <div class="col-sm-12">You can search a user by their name or username using the search button on top right</div>
        <div class="col-sm-12"><b>Why can't I find a user?</b></div>
        <div class="col-sm-12">You can search a user using the search feature and also make sure you check all pages</div>
        <div class="col-sm-12"><b>Do I have to worry about assigning a unique username?</b></div>
        <div class="col-sm-12">While creating a user, it will display a warning if the username is already taken.</div>
        <div class="col-sm-12"><b>How can I see my own information?</b></div>
        <div class="col-sm-12">You can view your own user information by clicking the dropdown next to your username and clicking on user info</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!--Thanks button, acts like a close button-->
    <button type="button" class="btn btn-primary" (click)="modal.close()">Thanks!</button> 
  </div>