<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" (keyup.enter)="login()" [(ngModel)]="password"></ion-input>
  </ion-item>
  <div class="error-msg" *ngIf="errorMsg">{{ errorMsg }}</div>
</ion-content>

<ion-footer>
  <ion-button expand="block" color="primary" (click)="login()">
    <span *ngIf="!loading">Login</span>
    <ion-spinner *ngIf="loading"></ion-spinner>
  </ion-button>
</ion-footer>